.mobile_top {
    display: none;
}

.main_illust {
    width: 924px;
    height: 618px;
    background-image: url(./img/mainBackground.png);
    
    background-size: contain;
    margin: 50px auto;
    position: relative;
}

.main_illust .game_sec,.sound {
    position: absolute;
    animation-name: balloon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.main_text {
    padding: 16px 28px;
    background-color: #fff;
    border-radius: 30px;
    display: inline-block;
    top: 0;
    left: 400px;
    position: absolute;
    text-align: center;
    line-height: 1.5;
}

.game_sec a {
    background-size: contain;
    display: block;
}

@-webkit-keyframes balloon {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: -5px;
    }

    100% {
        margin-top: 0;
    }
}

.text {
    padding: 16px 28px;
    background-color: #fff;
    border-radius: 30px;
    display: block;
    top: -200px;
    position: relative;
    left: -20%;
    text-align: center;
    line-height: 1.5;
    opacity: 0;
    transition: all .5s ease;
}

.text:after,
.main_text:after {
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    background-image: url(./img/talkTailLow.png);
    background-size: contain;
    left: 50%;
    margin-left: -25px;
}


.game_sec:hover .text {
    opacity: 1;
}

.thanks {
    top: 350px;
    left: 12px;
}

.thanks a {
    width: 100px;
    height: 100px;
    background-image: url(./img/mainButtonThanks.png);
}

.fortune {
    top: 305px;
    left: 155px;
}

.fortune a {
    background-image: url(./img/mainButtonFortune.png);
    width: 123px;
    height: 126px;
}

.pumpkin {
    top: 376px;
    left: 310px;
    z-index: 10;
}

.pumpkin a {
    background-image: url(./img/mainButtonPumpkin.png);
    width: 124px;
    height: 124px;
}

.card {
    top: 184px;
    left: 457px;
}

.card a {
    background-image: url(./img/mainCardmatch.png);
    width: 185px;
    height: 249px;
}

.card .text {
    top: -300px;
}

.mine {
    top: 329px;
    left: 647px;
    z-index: 10;
}

.mine a {
    background-image: url(./img/mainButtonMinesweeper.png);
    width: 187px;
    height: 159px;
}

.game_sec.ad{
    top: 120px;
    left: 650px;
    animation : none;
    transition: transform .2s ease;
}
.game_sec.ad:hover{
    transform: rotate(10deg);
}

.ad a{
    background-image: url(./img/mainButtonShop.png);
    width: 90px;
    height: 150px;
    
}

.sound{
    top: 488px;
    left: 470px;
    animation: none;
    cursor: pointer;
}
.sound>*{
    position: absolute;
}
.sound .object{
    background-image: url(./img/mainbuttonsound.png);
    background-size: contain;
    width: 120px;
    height: 100px;
}
.sound span{
    width: 45px;
    height: 39px;
    top: 0;
    background-size: contain;
    display: none;
}
.sound.on span{
    display: block;
}
.sound .effect1{
    left: 0;
    background-image: url(./img/mainbuttonsoundonleft.png);
    animation-name: balloon;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.sound .effect2{
    left: 75px;
    background-image: url(./img/mainbuttonsoundonright.png);
    animation-name: balloon;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}


@media screen and (max-width: 950px) {
    .main_text {
        padding: 14px 21px;
        background-color: #fff;
        border-radius: 30px;
        display: inline-block;
        top: 0;
        left: 300px;
        position: absolute;
        text-align: center;
        line-height: 1.5;
    }
    
    .main_illust {
        width: 720px;
        height: 482px;
    }


    .thanks {
        top: 276px;
        left: 10px;
    }

    .thanks a {
        width: 80px;
        height: 80px;
        background-image: url(./img/mainButtonThanks.png);
    }

    .fortune {
        top: 237px;
        left: 120px;
    }

    .fortune a {
        background-image: url(./img/mainButtonFortune.png);
        width: 96px;
        height: 98px;
    }

    .pumpkin {
        top: 292px;
        left: 240px;
    }

    .pumpkin a {
        background-image: url(./img/mainButtonPumpkin.png);
        width: 96px;
        height: 96px;
    }

    .card {
        top: 143px;
        left: 356px;
    }

    .card a {
        background-image: url(./img/mainCardmatch.png);
        width: 144px;
        height: 194px;
    }

    .card .text {
        top: -300px;
    }

    .mine {
        top: 256px;
        left: 504px;
    }

    .mine a {
        background-image: url(./img/mainButtonMinesweeper.png);
        width: 146px;
        height: 124px;
    }


.game_sec.ad{
    top: 90px;
    left: 500px;
}
.ad a{
    width: 72px;
    height: 120px;
}
.sound{
    top: 384px;
    left: 350px;
}
.sound .object{
    width: 94px;
    height: 78px;
}
.sound span{
    width: 35px;
    height: 30px;
}
.sound .effect1{
    left: 0;
    background-image: url(./img/mainbuttonsoundonleft.png);
    animation-name: balloon;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.sound .effect2{
    left: 59px;
}



}

@media screen and (max-width: 720px) {
    .fixed_logo {
        display: none;
    }

    .main_illust {
        margin: 0;
        width: auto;
        height: auto;
        background-image: none;
    }

    .main_text {
        display: none;
    }

    .mobile_top {
        display: block;
        padding-top: 200px;
        background-image: url(./img/mobileMainHeader.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .mobile_top .logo {
        margin: 0 auto;
        width: 100px;
        height: 124px;
        background-image: url(./common/img/logo@2x.png);
    }

    .mobile_top .top_text {
        margin-top: 30px;
        color: #fff;
        font-weight: 100;
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
    }

    .mobile_top .top_text:after {
        display: block;
        content: '';
        width: 12px;
        height: 6px;
        background-image: url(./img/mobileArrowDown.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 30px auto 40px auto;
    }

    .main_illust .game_sec {
        position: static;
        box-sizing: border-box;
        margin: 30px;
        animation-name: none;
        border-radius: 30px;
        overflow: hidden;
    }

    .text {
        display: none;
    }

    .game_sec a {
        width: 100%;
        height: 160px;
        background-size: cover;
        background-position: center top;
    }


    .thanks a {
        background-image: url(./img/mobileMainButtonThanks.png);
    }

    .fortune a {
        background-image: url(./img/mobileMainButtonFourtune.png);
    }

    .pumpkin a {
        background-image: url(./img/mobileMainButtonPumpkin.png);
    }

    .card a {
        background-image: url(./img/mobileMainButtonCardmatch.png);
    }

    .mine a {
        background-image: url(./img/mobileMainButtonMinesweeper.png);
    }

    .ad a {
        width: 90px;
        height: 150px;
        margin: 0 auto;
    }

    footer {
        margin-top: 100px;
    }
    .game_sec.ad:hover{
        transform: none;
    }
    .sound{
        display: none;
    }
    .mobile_sound{
        width: 70px;
        height: 70px;
        position: fixed;
        top: 20px;
        right: 20px;
        background-image: url(./img/mainMobileButtonSoundOff.png);
        background-size: contain;
        cursor: pointer;
        z-index: 999;
    }
    .mobile_sound.on{
        background-image: url(./img/mainMobileButtonSoundOn.png);
    }



}