.logo{
    width: 150px;
    height: 250px;
    background-image: url(./img/logoGrayWaiting.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 100px auto 20px;
}

p.top{
    font-weight: 500;
    font-size: 18px;
}
p{
    color: #fff;
    text-align: center;
    font-weight: 100;
    line-height: 1.5;
}

.wait_content{
    position: fixed;
    top: 50%;
    margin-top: -300px;
    width: 100%;
}