.modal{
    background-color: #000;
    position: fixed;
    z-index: 800;
    top: 50%;
    width: 600px;
    left:50%;
    margin-left:-300px;
    margin-top: -350px;
    border-radius: 30px;
    display: none;
}
.modal_back{
    background-color: rgb(0,0,0,.5);
    z-index: 700;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 450;
    display: none;
}
.modal .illust{
    width: 250px;
    height: 250px;
    background-size: contain;
    margin: 50px auto 80px auto;
    background-image: url(./img/cardFrameStage1clear.png);
}
.modal p.talking{
    background-color: #fff;
    padding: 20px 30px;
    max-width: 390px;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
}
.modal p.narration{
    color: #fff;
    margin: 20px auto;
    text-align: center;
    font-weight: 100;
}
.modal .text{
    position: relative;
    margin-bottom: 40px;
    line-height: 1.5;
}
.text:after{
    background-image: url(./img/cardTalkTail.png);
    top: -50px;
}
.modal .go_btn{
    width: 82px;
    height: 70px;
    border: 0;
    background-color: transparent;
    background-image: url(../common/img/nextButton@2x.png);
    background-size: contain;
    font-weight: bold;
    font-size: 16px;
    margin: 0 auto 50px auto; 
    display: block;
    cursor: pointer;
}
.modal .go_btn:hover{
    background-image: url(../common/img/nextButtonMouseOver@2x.png);
}



.card{
    width: 96px;
    height: 112px;
    display: inline-block;
    margin: 5px;
    perspective: 140px;
    opacity: 0;
    transition: all .5s ease;
}

.card-inner{
    position: relative;
    width:100%;
    height: 100%;
    text-align: center;
    transition: transform .6s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.card.flipped .card-inner{
    transform: rotateY(180deg);
}

.card-front{
    background-image: url(./img/cardFrontStage1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.card-back{
    background-size: contain;
    transform: rotateY(180deg);
    background-repeat: no-repeat;
}


.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border: 0;
}

.game_section{
    width: 950px;
    height: 732px;
    background-image: url(./img/CardGameBoard.png);
    background-size: contain;
    margin: 135px auto 100px auto;
    position: relative;
}

.time{
    width: 72px;
    height: 56px;
    background-image: url(./img/cardTimerFace.png);
    background-size: contain;
    position: absolute;
    top: -20px;
    left: 50px;
    text-align: center;
    line-height: 55px;
    font-weight: bold;
}

.time_limit{
    padding: 12px 20px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 160px;
    border-radius: 30px;
    display: none;
    z-index: 999;
}
.time_limit:after{
    width: 50px;
    height: 50px;
    display: block;
    content: '';
    background-image: url(./img/cardMobileTalkLeft.png);
    background-size: contain;
    position: absolute;
    left: -45px;
    top: 0;
    background-position: center center;
}

.stage{
    position: absolute;
    width: 110px;
    top: 10px;
    left: 50%;
    margin-left: -50px;
    z-index: 444;
}

.deco{
    background-size: contain;
    position: absolute;
    pointer-events: none;
}

.deco1{
    bottom: 0;
    left: 0;
    width: 240px;
    height: 168px;
    background-image: url(./img/cardObjLeft.png);
}

.deco2{
    width: 204px;
    height: 210px;
    background-image: url(./img/cardObjRightTop.png);
    top: -50px;
    right: 0;
}

.deco3{
    width: 92px;
    height: 204px;
    background-image: url(./img/cardObjRightBottom.png);
    right: 0;
    bottom: 0;
}

.cards{
    width: 425px;
    height: 358px;
    padding-top: 120px;
    margin: 0 auto;
    position: relative;
    z-index: 333;
}

.stage-2.cards{
    width: 640px;
    height: 360px;
}

.stage-3.cards{
    width: 640px;
    height: 490px;
    padding-top: 70px;
}


@media screen and (max-width: 950px) {
    
    .game_section{
        width: 720px;
        height: 556px;
        margin: 200px auto 200px auto;
    }
    .cards{
        padding-top: 53px;
    }
    .deco1{
        bottom: -100px;
    }
    .deco2{
        top: -180px;
    }
    .deco3{
        bottom: -80px;
        right: 20px;
    }
    .stage{
        position: absolute;
        width: 110px;
        top: 5px;
    }
    .stage-3.cards{
        width: 540px;
        padding-top: 30px;
    }
    .stage-3 .card{
        width: 80px;
        height: 94px;
    }

}

@media screen and (max-width: 720px) {

    .modal{
        top: 0;
        width: 100%;
        height: 100%;
        left:0;
        margin: initial;
        margin-left:0;
        border-radius: 0;
    }
    .modal .illust{
        margin: 50px auto 50px auto;
    }
    .modal .go_btn{
        position: fixed;
        bottom: 30px;
        left: 50%;
        margin: initial;
        margin-left:-41px; 
    }

    .modal p.talking{
        background-color: #fff;
        padding: 20px 0;
        width: 100%;
        max-width: initial;
        border-radius: 0;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
    }

    .game_section{
        width: 100%;
        height: 100vh;
        margin: 110px auto 0 auto;
        background-size: 720px 560px;
        background-position: center top;
        background-repeat: no-repeat;
    }

    .stage{
        position: fixed;
        width: 100px;
        top: 30px;
        left: 50%;
        margin-left: -50px;
    }

    
    .card{
        width: 80px;
        height: 94px;
    }
    .stage-2 .card{
        width: 70px;
        height: 84px;
    }
    .stage-3 .card{
        width: 64px;
        height: 78px;
    }

    .cards{
        width: 100% !important;
        height: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        text-align: center;
        padding-top: 63px;
    }
    .stage-2.cards{
        padding-top: 14px;
    }

    .fixed_logo{
        top: 30px;
        left: 30px;
    }
    .logo{
        width: 30px;
        height: 30px;
        background-image: url(../common/img/moblileLogo@2x.png);
        background-position: center center;
    }

    .time{
        position: fixed;
        width:48px;
        height: 38px;
        top: 30px;
        right: 30px;
        left: initial;
        z-index: 555;
        line-height: 35px;
        font-size: 14px;
    }

    .deco{
        display: none;
    }

    .time_limit{
       
        position: fixed;
        top: 100px;
        left: initial;
        right: 30px;
       
        
    }
    .time_limit:after{
        width: 30px;
        height: 30px;
        transform: rotate(90deg);
        position: absolute;
        top:-30px;
        left: initial;
        right: 10px;
        background-position: center center;
    }

    

    
}