@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');

.start_page {
    width: 710px;
    height: 700px;
    position: relative;
    margin: 161px auto 100px auto;

}

.start_page>* {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.front_cake {
    width: 316px;
    height: 88px;
    background-image: url(./img/fortuneFrontCakes.png);
    z-index: 44;
    bottom: 0;
    left: 200px;
    cursor: pointer;
}

.frame {
    width: 710px;
    height: 700px;
    background-image: url(./img/fortuneFrame.png);
    z-index: 33;
}

.frame_face {
    width: 514px;
    height: 140px;
    top: -22px;
    left: 97px;
    background-image: url(./img/fortuneFrameFace.png);
    z-index: 44;
}

.fortune_cake {
    width: 132px;
    height: 84px;
    background-image: url(./img/fortuneCakeCover.png);
    top: 490px;
    left: 246px;
    z-index: 44;
    cursor: pointer;
}

.bg {
    width: 602px;
    height: 598px;
    background-image: url(./img/fortuneBG.png);
    left: 66px;
    top: 85px;
}

.monsters {
    width: 520px;
    height: 400px;
    background-image: url(./img/fortuneMonster.png);
    z-index: 30;
    bottom: 0;
    left: 100px;
}


.text {
    padding: 16px 34px;
    background-color: #fff;
    position: absolute;
    z-index: 55;
    border-radius: 30px;
    line-height: 1.5;
    text-align: center;
}

.text br {
    display: none;
}

.text1 {
    top: 180px;
    left: 100px;
}

.text2 {
    top: 400px;
    left: 390px;
}

.text3 {
    top: 40px;
    left: 182px;
}

.text4 {
    top: 157px;
    left: 179px;
    display: none;
}

.cake_page {
    width: 710px;
    height: 700px;
    position: relative;
    margin: 161px auto 100px auto;
    display: none;
}

.cake_wrap {
    width: 620px;
    height: 646px;
    position: relative !important;
    margin: 27px auto;

}

.cake_page * {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}



.plate {
    background-image: url(./img/fortuneDish.png);
    width: 620px;
    height: 646px;
    top: 0;
    left: 0;
    z-index: 1;
}

.cake {
    cursor: pointer;
}

.full_cake {
    width: 360px;
    height: 360px;
    background-image: url(./img/fortuneCake0.png);
    z-index: 6;
    top: 143px;
    left: 133px;
    display: block;
}

.fork {
    width: 244px;
    height: 315px;
    top: 120px;
    left: 380px;
    background-image: url(./img/fortuneMouse.png);
    z-index: 2;
    position: absolute;
    display: none;
}

.cherry {
    width: 360px;
    height: 360px;
    top: 143px;
    left: 133px;
    background-image: url(./img/fortuneCake0Cherry.png);
    z-index: 7;
    pointer-events: none;
    transition: all .5s ease;
}

.cherry.move1 {
    left: 250px;
    top: 350px;
    transform: rotate(45deg);
}

.cherry.move2 {
    left: 280px;
    top: 380px;
    transform: rotate(45deg);
}


.left_cake {
    width: 360px;
    height: 360px;
    top: 143px;
    left: 133px;
    background-image: url(./img/fortuneCake0Left.png);
    z-index: 3;
    transition: all .5s ease;
}

.right_cake {
    width: 360px;
    height: 360px;
    top: 143px;
    left: 133px;
    background-image: url(./img/fortuneCake0Right.png);
    z-index: 5;
    transition: all .5s ease;
}

.left_cake.opened {
    left: 90px;
    top: 103px;
}

.right_cake.opened {
    left: 170px;
    top: 183px;
}

.paper {
    width: 112px;
    height: 104px;
    top: 263px;
    left: 180px;
    background-image: url(./img/fortunePaperFold.png);
    z-index: 4;
    opacity: 0;
    transition: all .5s ease;
}


.tissue {
    width: 304px;
    height: 294px;
    background-image: url(./img/fortuneBGTissue.png);
    bottom: -50px;
    left: -30px;
    z-index: 0;
}

.fortune_result {
    display: none;
}

.result {
    width: 477px;
    height: 124px;
    background-image: url(./img/fortunePaperOpen.png);
    top: 261px;
    left: 72px;
    z-index: 10;
}

.quote {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    color: #3603A2;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    line-height: 1.5;
}

.restart {
    top: 435px;
    left: 269px;
    background-image: url(./img/fortuneAgainButton.png);
    width: 82px;
    height: 70px;
    z-index: 10;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 720px) {

    body{
        width: 100%;
        -webkit-overflow-x: hidden;
        -moz-overflow-x: hidden;
        -webkit-overflow-x: hidden;
        overflow-x: hidden;
    }
    .start_page {
        width: 427px;
        height: 421px;
        margin: 93px auto 50px auto;
        position: relative;
        left: 50%;
        margin-left: -213px;
    }

    .front_cake {
        width: 190px;
        height: 52px;
        z-index: 44;
        left: 123px;
    }

    .frame {
        width: 427px;
        height: 421px;
    }

    .frame_face {
        width: 310px;
        height: 72px;
        top: -12px;
        left: 58px;
    }

    .fortune_cake {
        width: 80px;
        height: 51px;
        top: 295px;
        left: 142px;
    }

    .bg {
        width: 362px;
        height: 360px;
        left: 45px;
        top: 40px;
    }

    .monsters {
        width: 312px;
        height: 240px;
        left: 58px;
    }


    .text {
        padding: 10px 20px;
        font-size: 14px;
    }

    .text br{
        display: block;
    }

    .text1 {
        top: 110px;
        left: 43px;
    }

    .text2 {
        top: 238px;
        left: 232px;
    }

    .text3 {
        top: -19px;
        left: 80px;
    }

    .text4 {
        top: 19px;
        left: 96px;
    }

    .cake_page {
        width: 427px;
        height: 421px;
        margin: 93px auto 50px auto;
        position: relative;
        left: 50%;
        margin-left: -213px;
    }

    .cake_wrap {
        width: 340px;
        height: 356px;
        margin: 50px auto;

    }


    .plate {
        background-image: url(./img/fortuneDish.png);
        width: 340px;
        height: 356px;
    }

    .full_cake {
        width: 198px;
        height: 198px;
        top: 78px;
        left: 71px;
    }

    .fork {
        display: none !important;
    }

    .cherry {
        width: 198px;
        height: 198px;
        top: 78px;
        left: 71px;
    }

    .cherry.move1 {
        top: 190px;
        left: 110px;
        transform: rotate(45deg);
    }

    .cherry.move2 {
        top: 210px;
        left: 130px;
        transform: rotate(45deg);
    }


    .left_cake {
        width: 198px;
        height: 198px;
        top: 78px;
        left: 71px;
    }

    .right_cake {
        width: 198px;
        height: 198px;
        top: 78px;
        left: 71px;
    }

    .left_cake.opened {
        left: 47px;
        top: 50px;
    }

    .right_cake.opened {
        left: 100px;
        top: 92px;
    }

    .paper {
        width: 80px;
        height: 74px;
        top: 119px;
        left: 107px;
    }


    .tissue {
        display: none;
    }

    .fortune_result {
        display: none;
    }

    .result {
        top: 116px;
        left: -54px;
    }

  
    .restart {
        top: 291px;
        left: 129px;
    }
    footer{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }
}